.product--no-media .rating-wrapper {
  text-align: center;
}

.rating {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.6rem;
}

.product .rating-star {
  --letter-spacing: 0.8;
  --font-size: 1.7;
}

.card-wrapper .rating-star {
  --letter-spacing: 0.7;
  --font-size: 1.4;
}

.rating-star {
  --percent: calc(var(--rating) / var(--rating-max) * 100%);
  display: inline-block;
  font-size: 1.8rem;
  font-family: Times;
  line-height: 1;
}

.rating-star::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, #ffd700 var(--percent), #d4d4d4 var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  margin: 0 1rem;
  font-size: 1.4rem;
  color: rgba(var(--color-foreground), 0.75);
}

.rating-count {
  font-size: 1.4rem;
  color: rgba(var(--color-foreground), 0.75);
  margin: 0;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}
